
.cover{
    /* background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1605296867304-46d5465a13f1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1546483875-ad9014c88eba?q=80&w=1564&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.pexels.com/photos/116077/pexels-photo-116077.jpeg"); */
    background-image: url("https://i.imgur.com/58vjyKl.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 95vh;
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#logo{
    display: block;
}
#logo-two{
    display: none;
}
.cover .content {
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-content: space-between;
}
.navigation{
    display: grid;
    align-items: center;
}
.button{
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
    width: 100%;
    color: #000;
}
nav{
    background-color: rgba(255, 255, 255, 0.068);
    /* background-color: rgba(255, 255, 255, 0.059); */
    padding: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    transition: 300ms;
    align-items: center;
    width: 100%;
}
nav a:hover{
    color: rgb(81, 105, 118);
    transition: 300ms;
}

.cover h1{
    font-size: 60px;
    /* margin-bottom: 0; */
    color: rgb(255, 255, 255);
    margin: 0;
}
@media (max-width: 768px) {
    .cover h1{
        font-size: 40px;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cover{
        padding: 2.5rem;
        border-radius: 3rem;
        height: 90vh;
    }
    #logo{
        display: none;
    }
    #logo-two{
        display: block;
    }
    .cover h1{
        font-size: 60px;
        margin-bottom: 0;
    }
    .cover .content p{
        font-size: 15px;
        color: white;
        /* margin-bottom: 3rem; */
    }
    .navigation{
        display: flex; 
        justify-content: space-between;
        height: 3rem;
        gap: 2rem;
        nav{
            width: 25rem;
        }
    }
    .cover .content{
        width: 500px;
    }
    .button{
        width: 300px;
    }
}
@media (min-width: 950px) {
    .cover h1{
        font-size: 80px;
        width: 800px;
    }
}
