.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-on-scroll.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.button-box{
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}